node_modules/
dist/
frontend/dist/
frontend/node_modules/
*.pem
.env
frontend/.env
src/.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
data/logs/
.DS_Store
dist/
frontend/dist/
tsconfig.build.tsbuildinfo
*.tsbuildinfo
.vscode/
.idea/
*.swp
*.swo
*~
TEF/
Logica Match.txt
Servidor CARTÃO ssh i.txt
Servidor CARTÃO ssh.txt
ssh/
data/sipag/archive/
data/sipag/error/
data/sipag/edi/
data/sipag/in/
data/cielo/archive/
data/cielo/error/
data/cielo/edi/
data/cielo/in/
data/sicredi/archive-edi/
data/sicredi/error-edi/
data/sicredi/archive/
data/sicredi/edi/
data/sicredi/error/
data/sicredi/in
data/remote-edi/sicredi/pulled/
data/remote-edi/sicredi/unknown/
data/remote-edi/cielo/pulled/
data/remote-edi/cielo/unknown/
data/remote-edi/sipag/pulled/
data/remote-edi/sipag/unknown/
data/logs/imports/
data/interdata/archive/
data/interdata/error/
data/interdata/inbox/

