# Firebird
FB_HOST=127.0.0.1
FB_PORT=3050
FB_DATABASE=/opt/firebird/data/CONCILIACAO.FDB
FB_USER=SYSDBA
FB_PASSWORD=masterkey
FB_POOL_SIZE=10

# App
APP_CORS_ORIGIN=http://localhost:5173
ADMIN_TOKEN=troque_este_token
RECONCILIATION_WINDOW_MINUTES=120
MAINTENANCE_ENABLED=false
AUTH_COOKIE_NAME=card_conciliation_session
AUTH_COOKIE_SECURE=false
AUTH_SESSION_DAYS=7

# Sipag API
SIPAG_BASE_URL=https://api.sipag.com.br
SIPAG_ENDPOINT_EXTRATO=/v1/transactions
SIPAG_TOKEN=SEU_TOKEN_AQUI

# Sicoob Pix (sandbox)
SICOOB_AUTH_URL=https://auth.sicoob.com.br/auth/realms/cooperado/protocol/openid-connect/token
SICOOB_PIX_BASE_URL=https://sandbox.sicoob.com.br/sicoob/sandbox/pix/api/v2
SICOOB_CLIENT_ID=SEU_CLIENT_ID
SICOOB_SCOPE=coloque_os_scopes_exatos_do_portal
SICOOB_GRANT_TYPE=client_credentials
SICOOB_TIMEOUT_MS=20000
SICOOB_PIX_JOB_ENABLED=false

# Cielo F360
CIELO_F360_BASE_URL=https://financas.f360.com.br
CIELO_F360_INTEGRATION_TOKEN=SEU_TOKEN_AQUI
CIELO_F360_ENABLED=false

# Cielo EDI (SFTP)
CIELO_EDI_MODE=local
CIELO_EDI_LOCAL_DIR=./data/cielo/edi
CIELO_EDI_ARCHIVE_DIR=./data/cielo/archive
CIELO_EDI_ERROR_DIR=./data/cielo/error
CIELO_EDI_FILE_GLOB=*.*
CIELO_SFTP_HOST=
CIELO_SFTP_PORT=22
CIELO_SFTP_USER=
CIELO_SFTP_PASSWORD=
CIELO_SFTP_PRIVATE_KEY_PATH=
CIELO_SFTP_REMOTE_DIR=/in
CIELO_SFTP_STRICT_HOSTKEY_CHECKING=true

# Interdata import
INTERDATA_ENABLED=true
INTERDATA_DROP_DIR=./data/interdata/inbox
INTERDATA_ARCHIVE_DIR=./data/interdata/archive
INTERDATA_ERROR_DIR=./data/interdata/error
INTERDATA_FILE_GLOB=*.xls*
INTERDATA_TZ=America/Porto_Velho
INTERDATA_SOURCE_NAME=INTERDATA

# Local acquirer watchers
SIPAG_CSV_WATCH_ENABLED=true
SIPAG_CSV_WATCH_DIR=./data/sipag/in
SIPAG_CSV_ARCHIVE_DIR=./data/sipag/archive
SIPAG_CSV_ERROR_DIR=./data/sipag/error
SICREDI_CSV_WATCH_ENABLED=true
SICREDI_CSV_WATCH_DIR=./data/sicredi/in
SICREDI_CSV_ARCHIVE_DIR=./data/sicredi/archive
SICREDI_CSV_ERROR_DIR=./data/sicredi/error
SICREDI_EDI_WATCH_ENABLED=true
SICREDI_EDI_WATCH_DIR=./data/sicredi/edi
SICREDI_EDI_ARCHIVE_DIR=./data/sicredi/archive-edi
SICREDI_EDI_ERROR_DIR=./data/sicredi/error-edi
